<nav class="wizard-container">
  <ul class="wizard-nav">
    <% section_names.each_with_index do |name, index| %>
      <li>
        <a href="#<%= name %>"><%= name.titleize %> Information

          <div class="check">
            <div class="circle"></div>
          </div>

          <% unless index == 0 %>
            <div class="progress-line pull-left"></div>
          <% end %>

          <% unless index == section_names.size - 1%>
            <div class="progress-line pull-right"></div>
          <% end %>

        </a>
      </li>
    <% end %>
  </ul>
</nav>
