<h2>Residence history</h2>
<% applicant.residences.each.with_index do |residence, index| %>
  <h3><%= "Residence #{index + 1}" %></h3>
  <%= render partial: "residences/form", locals: { residence: residence } %>
  <hr />
<% end %>
<%= link_to("Add a residence", new_residence_path, remote: true) %> <br />
