<div id="<%= name %>" class="section hide">

  <%= bootstrap_form_for(applicant, remote: true) do |f| %>
    <%= render "main_form/#{name}_section", builder: f, applicant: applicant %>
  <% end %>

  <hr />

  <%= render "section_buttons", next_section: next_section, previous_section: previous_section %>

</div>
