<div class="row">
  <div class="col-md-6">
    Your information is <%= @applicant.progress%>% filled out.  When you've filled out as much as you can, you're ready to
    <%= link_to 'Select Buildings to Apply To', housing_forms_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="col-md-6">
    <div id="cont" data-pct="<%= @applicant.progress %>">
      <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="<%= 565.48 * (1 - (@applicant.progress / 100.0))%>"></circle>
      </svg>
    </div>
  </div>
</div>
