<div class="row">
  <h2>Criminal history</h2>
  <% @applicant.criminal_histories.each do |e| %>
    <div class="col-md-4">
    <p>
    <%= render partial: "criminal_histories/summary", locals: { criminal_history: e } %>
    <%= link_to "Edit", edit_criminal_history_path(e), class: "btn btn-info"%>
    <%= link_to 'Delete', e, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
  <% end %>
</div>
