<div class="row">
  <h2>Income</h2>
  <% @applicant.incomes.each do |i| %>
    <p>
      <%= render partial: "incomes/summary", locals: { income: i } %>
      <%= link_to "Edit", edit_income_path(i), class: "btn btn-info"%>
      <%= link_to 'Delete', i, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
