<table class="table table-condensed">

  <tr>
    <th>
      Fields
    </th>
    <th>
      Value for <%= @applicant.identity.full_name %>
    </th>
  </tr>

  <% @housing_form.form_fields.each do |field| %>
    <% value = @applicant.value_for_field(field.name) %>

    <% row_style = "" %>
    <% row_style = "success" unless value.to_s.empty? %>
    <% row_style = "warning" if value.is_a? UnknownField %>

    <tr class="<%= row_style%>">
      <td>
        <%= field.name %>
      </td>
      <td>
        <%= value.to_s %>
      </td>
    </tr>

  <% end %>

</table>
