<table class="table table-condensed">

  <tr>
    <th>
      Fields that must be filled manually
    </th>
  </tr>

  <% fields.each do |name, value| %>

    <tr class="warning">
      <td>
        <%= name %>
      </td>
    </tr>

  <% end %>

</table>
