<h1>About us</h1>

<p>We're a bunch of geeks who made a site for people.</p>

<div class="headshots">
	<div class="row-fluid">
		<div class="circle-image span4"></div>
		<div class="circle-image span4"></div>
	</div>

</div>