<div class="about-text">
	<h4>Our Mission</h4>
		<p>
			Our mission is to streamline and accelerate the application process for low-income housing in Washington, DC, and to enhance the application endeavor for the eligible DC citizen and the housing community supervisors.
		</p>
	<h4>Our Vision</h4>
		<p>
			Our vision is that Washington, DC offers a comprehensive, straightforward and efficient application system that connects eligible DC residents to not one low-income housing community.
		</p>
	<h4>History and Growth</h4>
		<p>
			Housing for the City began in July 2010 when Bread for the City approached Code for DC with the challenge of fixing the broken low-income application system.  Code for DC quickly formed a team, Housing for the City, to improve the application system for eligible DC citizens that seek low-income housing options.  The team volunteers their time and services on a bi-weekly basis with the mission toprovide Bread for the City and the citizens of Washington, DC with a streamlined application system and process that accelerates the low-income housing selection process, creating ease for the eligible DC residents and the housing community application board.
		</p>
</div>

<div class="headshots">
	<div class="row" style="margin-bottom: 5%">
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<a href="http://twitter.com/ousmanemariko"><i class="icon-twitter" id="icon-twitter"></i></a>
				<a href="http://facebook.com/ousmane.mariko"><i class="icon-facebook-sign" id="icon-facebook"></i></a>
			</p>
		</div>
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i>
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i>
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i>
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
	</div>
	<div class="row" style="margin-bottom: 5%">
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i>
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i>
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i>
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span3">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i>
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
	</div>
</div>
