<div class="about-text">
	<h4>Mission</h4>
		<p>
    Our mission is to streamline the process of applying for low-income housing in Washington, DC, improving the experience for eligible DC citizens and housing community managers alike.
    </p>
	<h4>Vision</h4>
  <p>
  Our vision is of a comprehensive, straightforward and efficient application system that connects eligible DC residents to multiple housing opportunities. Our hope is that such a system will provide a more equitable housing market generally and a more inclusive DC community locally.
  </p>
	<h4>History and Growth</h4>
  <p>
  Housing for the City began in July 2010, when Bread for the City approached Code for DC with the challenge of fixing the district's broken low-income application system. The team volunteers their time and services on a bi-weekly basis to work on this system.
  </p>
</div>

