<h1>About us</h1>

<p>We're a bunch of geeks who made a site for people.</p>

<div class="headshots">
	<div class="row" style="margin-bottom: 5%">
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<a href="http://twitter.com/ousmanemariko"><i class="icon-twitter" id="icon-twitter"></i></a>
				<a href="http://facebook.com/ousmane.mariko"><i class="icon-facebook-sign" id="icon-facebook"></i></a>
			</p>
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>	
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
	</div>
	<div class="row" style="margin-bottom: 5%">
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>	
		</div>
	</div>
	<div class="row" style="margin-bottom: 5%">
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
			<p class="headshot-text" id="name">Ouzy Mariko</p>
			<p class="headshot-text social-icons">
				<i class="icon-twitter" id="icon-twitter"></i> 
				<i class="icon-facebook-sign" id="icon-facebook"></i>
			</p>	
		</div>
	</div>
	

</div>