<h1>About us</h1>

<p>We're a bunch of geeks who made a site for people.</p>

<div class="headshots">
	<div class="row">
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">	
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">	
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">
		</div>
		<div class="span4">
			<img src="http://f.cl.ly/items/000z093L1S1H191m0h1d/small%20headshot.jpg" class="img-container">	
		</div>
	</div>
	

</div>