<!-- FIXME: This view is quickly turning into what should be applicants/index.html.erb -->

<% unless @applicants.empty? %>
  <p>Who is applying for housing?<p>
  <% @applicants.each do |applicant| %>
    <p>
      <%= link_to applicant, applicant, class: "btn btn-lg btn-info"%>
      <%= link_to 'Delete', applicant, class: "btn btn-lg btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
<% else %>
  <p>Looks like you don't have any applicants yet.  You should create one!</p>
<% end %>

<p><%= link_to "Create a new applicant", new_applicant_path, class: "btn btn-lg btn-success"%></p>
