<div>

  <div class="center_signup header_row">
    <h1>District Housing</h1>
  </div>

  <div class="center_signup">
    <p><%= link_to "Apply", new_user_registration_path %></p>
    <p><%= link_to "Log In", new_user_session_path %></p>
  </div>

  <div class="center_signup description">
    <h2>Bringing DC closer to home</h2>

    <p>Bread for the City and Code for DC are proud to present District Housing, a complete, streamlined application that opens the door to the various affordable housing options in Washington, DC.</p>

    <p><%= link_to "More about us", about_path %></p>
  </div>

</div>
