<h1>
  <p>District Housing</p> <p><small>Bringing DC closer to home</small></p>
</h1>
<div class="center-block">
  <p><%= link_to "Get started", new_user_session_path, class: "btn btn-lg btn-info"%></p>
</div
