<h1>District Housing <small>Bringing DC closer to home</small></h1>
<div class="center-block">
  <p><%= link_to "Log In", new_user_session_path, class: "btn btn-lg btn-info"%></p>
  <p><%= link_to "More about us", about_path %><i class="icon-arrow-right"></i></p>
</div
