<div class="row">
  <div class="col-md-3">
    <%= f.collection_select :income_type, Constants::IncomeType.all, :name_db, :name_form, include_blank: true %>
  </div>

  <div class="col-md-3">
    <%= f.text_field :amount, label: "Amount" %>
  </div>

  <div class="col-md-3">
    <%= f.collection_select :interval, income_intervals, :to_s, :to_s, label: "Interval", include_blank: true %>
  </div>

  <div class="col-md-3">
    <%= f.collection_select :person_id, @applicant.household_members_including_self, :id, :description, label: "Who earns it?" %>
  </div>
</div>
