<ul class="nav">
  <li><a href="#info-about-people">Information about people</a></li>
  <ul class="nav sub-nav">
    <li><a href="#person-prefixes">Person prefixes</a></li>
  </ul>
  <li><a href="#yes-no-values">Yes/No values</a></li>
  <li><a href="#addresses">Addresses</a></li>
  <li><a href="#tickboxes">Tickboxes</a></li>
  <li><a href="#employment">Employment</a></li>
  <li><a href="#income">Income</a></li>
  <li><a href="#criminal-history">Criminal History</a></li>
  <li><a href="#race-and-ethnicity">Race and ethnicity</a></li>
  <li><a href="#marital-status">Marital status</a></li>
  <li><a href="#genders">Genders</a></li>
</ul>
