<table class="table table-striped">
  <tr>
    <th>
      Prefix
    </th>
    <th>
      What you get
    </th>
    <th>
      Example with Name
    </th>
    <th>
      Value for <%= @applicant.identity.full_name %>
    </th>
  </tr>
  <% prefix_descriptions.each do |row| %>
    <%= render "prefix_field_row", name: row[0], what: row[1] %>
  <% end %>
</table>
