<% example_field_name = name + "1Name" %>

<tr>
  <td><%= name %></td>
  <td><%= what %></td>
  <td><%= example_field_name %></td>
  <td><%= @applicant.value_for_field( example_field_name ) %></td>
</tr>
