<div class="pdf-guide">

  <div class="info">
    <%= render "index_upper_content" %>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-9 fields">
      <%= render "index_fields_description" %>
    </div>

    <div class="col-md-3 hidden-print hidden-xs hidden-sm" role="complementary" >
      <nav id="pdf-guide-sidenav" class="well">
        <%= render "index_sidenav" %>
      </nav>
    </div>

  </div>

</div>
