<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salesforce_applicant.name %>
</p>

<%= link_to 'Edit', edit_salesforce_applicant_path(@salesforce_applicant) %> |
<%= link_to 'Back', salesforce_applicants_path %>
