/*variables and reused blocks*/

$red : #e74c3c;
$font-stack: 'Montserrat', sans-serif;
.hover-behavior {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* ******************** */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 1.2em;
  line-height: 18px;
}

a {
  background-color: transparent;
  &:hover {
    color: $red;
    background-color: transparent;
    text-decoration: none;
    @extend .hover-behavior;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $font-stack !important;
  text-transform: none;
}


.edge-bar {
  background-color: $red;
  height: 3px;
  width: 100%;
}

.main {
  width: 50%;
  margin-top: 50px;
  height: 100%;

  h1, h2, h3, h4, h5 {
    font-family: $font-stack !important;
    text-transform: none;
  }

  .about-text {
    margin: 5% 0 5% 5%;
    font-size: 18px;
  }
}

.logo {
  display: block;
  width: 85%;
  height: auto;
  margin-top: 3em;
  margin-left: auto;
  margin-right:auto;
  background-color: $red;
}

.apply-button, .login-button {
  border: 5px solid $red;
  width: 200px;
  height: 50px;
  background-color: $red;
  font-size: 2em;
  font-family: $font-stack;
  display: block;
  float: none;
  margin: 2% auto;
  line-height: 35px;
  color: white;
  &:visited {
    color: white ;
  }
  &:hover {
    color: $red;
    background-color: white;
    @extend .hover-behavior;
  }
}

.signup-button
{
  border: 5px solid #27ae60;
  width: 250px !important;
  height: 35px;
  background-color: #27ae60;
  font-size: 2em;
  font-family: $font-stack;
  display: block;
  float: none;
  margin: 2% auto;
  line-height: 20px;
  color: white;
  font-size: 18px;
  .reset-pw {
    width: 250px !important;
  }
  &:visited {
    color: white ;
  }
  &:hover {
    color: #27ae60;
    background-color: white;
    @extend .hover-behavior;
  }
}


.reset-pw
{
  border: 5px solid #27ae60;
  width: 400px !important;
  height: 35px;
  background-color: #27ae60;
  font-size: 2em;
  font-family: $font-stack;
  display: block;
  float: none;
  margin: 2% auto;
  line-height: 20px;
  color: white;
  font-size: 18px;
  .reset-pw {
    width: 250px !important;
  }
  &:visited {
    color: white ;
  }
  &:hover {
    color: #27ae60;
    background-color: white;
    @extend .hover-behavior;
  }
}

.headshot-text{
  text-align: center;
  #name {
    padding-top: 12px;
  }
}

.social-icons {
  font-size: 3em;

  #icon-twitter {
    color: #4099FF;
    &:hover {
      color: $red;
      @extend .hover-behavior;
      text-decoration: none;
    }
  }

  #icon-facebook {
    color: #3B5998;
    &:hover {
      color:$red;
      @extend .hover-behavior;
      text-decoration: none;
    }
  }
}

.img-container{
  width: 100%;
  height: auto;
  background: white;
  &:hover{
    background-color: $red;
    opacity:0.4;
    @extend .hover-behavior;
  }
}


@media(max-width:769px){
  #login-button {
    margin-left: 30%;
  }

  .logo {
    margin-top: 50px;
    margin-left: 3em;
    width: 150px;
    height: 150px;
  }

  .main {
    margin-top: 200px;
    padding-left: 0;
  }

}

/*** LANDING BODY STYLES ****/
body {
  #landing {
    margin: 0;
    /*background-color: lightblue;*/
    color: #2c3e50;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
  }
}

/*** LANDING PAGE ***/

.center_signup {
  text-align: center;
  color: #2c3e50;
  padding: 1% 0 1% 0;

  .header_row {
    margin: 0;
    background-color: $red;
    height: 100px;
  }
}

.logo-image {
  float: left;
  clear: both;
  padding-left: 3%;
  padding-top: 1%;
  position: absolute;

  img {
    display: inline;
    float: left;
    display: inline;
    max-width: 20% !important;
    height: auto;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    &:hover {
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.center_signup {
  p {
    font-size: 1.2em;
    line-height: 1.8em;
    display: block;
    float: none;
    margin: 0 auto;
    width: 40%;
  }
  #about {
    padding-top: 3%;
  }
  #more-about {
    padding-top: 6%;
    text-transform: uppercase;
    font-family: $font-stack;
  }
  .icon-arrow-right{
    padding-left: 5px;
    color: $red;
  }


  .description {
    font-weight: normal;
    font-size: 18px;
    p {
      font-size: 18px;
      line-height: 24px;
      width: 40%;
      display: block;
      float: none;
      margin: 0 auto;
      margin-top: 1%;
    }
  }

  h2 {
    font-size: 40px;
    font-weight: normal;
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 5%;
  }
}

/*** SIGN IN/SIGN UP STYLING ***/

.devise_main {
  text-align: center;
  padding-top: 1%;
}


.simplebox
{
  margin-top: -20px;
  outline: none;
  border-radius: 0 !important;
  box-shadow:none !important;
  height: 30px !important;

  &:focus {
    border: 1px solid #cccccc !important;
  }
}

.links {
  font-family: $font-stack;
  text-transform: uppercase;
}

.spacer {
  height: 50px;
  width: 100%;
}

.icon-arrow-left {
  padding-right: 5px;
  color: $red;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 30px;
}

/*** DataTables Customization ***/
div.dataTables_filter label {
  font-weight: normal;
  float: right;
  font-size: 20px;
}

.dataTables_wrapper .dataTables_filter {
  margin: 20px 0;
  float: left;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  font-size: 20px;
}

/*** Accordion Menu Styling ***/
.breadcrumb .active {
  font-weight: bold;
}

.panel-primary .panel-heading a:hover {
  color: #ffffff;
}

.accordion-list-menu {
  font-size: 1.0em;
  padding-left: 20px;
}

.accordion-list-menu .completion {
  padding: 10px;
}

.accordion-list-item {
  border-bottom:1px solid #eee;
  padding-top:10px;
  padding-bottom:10px;
}

.accordion-list-new {
  padding-top:10px;
}

/*** Shrink Accordion Menu text on smaller devices ***/
@media screen and (max-width: 1200px){
    #accordion h4 {
      font-size: 1.0em;
    }
}