// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*variables and reused blocks*/

$red : #e74c3c;
$font-stack: 'Montserrat', sans-serif;
$font-secondary: "ff-tisa-web-pro",serif;
.hover-behavior {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* ******************** */

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

body {
  background-color: #fff;
  color: #333;
  /*font-family: verdana, arial, helvetica, sans-serif;*/
  font-family: $font-secondary;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  /*font-family: verdana, arial, helvetica, sans-serif;*/
  font-family: $font-secondary;
  font-size: 13px;
  line-height: 18px;
}

a {
  background-color: transparent;
  &:hover {
    color: $red;
    background-color: transparent;
    text-decoration: none;
    @extend .hover-behavior;
  }
}

h1, h2, h3, h4, h5 {
    font-family: $font-stack !important;
    text-transform: none;
  }

.about-text {
  margin: 5% 0 5% 5%;
}

.edge-bar {
  background-color: $red;
  height: 3px;
  width: 100%;
}

#sidebar {
  background-color: $red;
  position: fixed;
  width: 300px;
  height: 110%;
  margin-top: -50px;

}

.main {
  padding-left: 400px;
  margin-top: 50px;
  height: 100%;

  h1, h2, h3, h4, h5 {
    font-family: $font-stack !important;
    text-transform: none;
  }
}

.logo {
  display: block;
  width: 85%;
  height: auto;
  margin-top: 3em;
  margin-left: auto;
  margin-right:auto;
  background-color: $red;
}

.button-group {
  margin-top: 30%;
  float: none;
  margin-left: 15%;
  /*margin-right: auto;*/
}

.apply-button, .login-button {
  border: 5px solid $red;
  width: 200px;
  height: 50px;
  background-color: $red;
  font-size: 2em;
  font-family: $font-stack;
  display: block;
  float: none;
  margin: 2% auto;
  line-height: 35px;
  color: white;
  &:visited {
    color: white ;
  }
  &:hover {
    color: $red;
    background-color: white;
    @extend .hover-behavior;
  }
}

.signup-button
  {
  border: 5px solid #27ae60;
  width: 200px !important;
  height: 35px;
  background-color: #27ae60;
  font-size: 2em;
  font-family: $font-stack;
  display: block;
  float: none;
  margin: 2% auto;
  line-height: 20px;
  color: white;
  font-size: 18px;
  &:visited {
    color: white ;
  }
  &:hover {
    color: #27ae60;
    background-color: white;
    @extend .hover-behavior;
  }
}


.headshot-text{
  text-align: center;
  #name {
    padding-top: 12px;
  }
}

.social-icons {
  font-size: 3em;

  #icon-twitter {
    color: #4099FF;
    &:hover {
      color: $red;
      @extend .hover-behavior;
      text-decoration: none;
    }
  }

  #icon-facebook {
    color: #3B5998;
    &:hover {
      color:$red;
      @extend .hover-behavior;
      text-decoration: none;
    }
  }
}

.side-button {
  text-align: center;
  max-width: 200px;
  height: 2em;
  background-color: $red;
  border-style: solid;
  border-width: 4px;
  border-color: #ffffff;
  margin-bottom: 6px;

  .button-text {
    position: relative;
    float: none;
    margin-top: 2%;
    color: #ffffff;

    text-transform: uppercase;
    font-family: $font-stack;
    font-size: 2em;
  }

  &:hover {
    background-color: #ffffff;
    @extend .hover-behavior;

    .button-text {
      color: $red;

      &:visited {
        color: $red;
      }
    }
  }

  a {
    color: #ffffff;
    &:hover {
      color: $red;
      text-decoration: none;
      @extend .hover-behavior;
    }
    &:visited {
      color: inherit;
    }
  }
}

.img-container{
  width: 100%;
  height: auto;
  background: white;
  &:hover{
    background-color: $red;
    opacity:0.4;
    @extend .hover-behavior;
  }
}


@media(max-width:769px){
  #sidebar {
    width: 110%;
    height: 200px;
    margin-bottom: 50px;
    margin-left: -50px;
  }

  #login-button {
    margin-left: 30%;
  }

  .side-button {
    max-width: 150px;
  }

  .logo {
    margin-top: 50px;
    margin-left: 3em;
    width: 150px;
    height: 150px;
  }

  .main {
    margin-top: 200px;
    padding-left: 0;
  }

  .button-group {
    margin-top: 10%;
    float: none;
    margin: -135px 5% 0 40%;
  }

}

/*** LANDING BODY STYLES ****/
body {
  #landing {
  margin: 0;
  /*background-color: lightblue;*/
  color: #2c3e50;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  }
}

/*** LANDING PAGE ***/

#fade-in {
  /*opacity: 0;*/
}

.center_signup {
  text-align: center;
  color: #2c3e50;
  padding: 1% 0 1% 0;
}

.center_signup {
  .header_row {
    margin: 0;
    background-color: $red;
    height: 100px;
    
  }
  .h1 {
    color: white !important;
    font-weight: normal;
    font-size: 18px;
  }
}

.logo-image {
    float: left;
    clear: both;
    padding-left: 3%;
    padding-top: 1%;
    position: absolute;
    
      img { 
        display: inline;
        float: left;
        display: inline;
        max-width: 20% !important;
        height: auto;
        -moz-transition: all 0.6s ease-in-out;
        -webkit-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        &:hover {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }



.center_signup {
  p {
    font-size: 1.3em;
    line-height: 1.8em;
    display: block;
    float: none;
    margin: 0 auto;
    width: 40%;
  }
  #about {
    padding-top: 3%;
  }
  #more-about {
    padding-top: 6%;
    text-transform: uppercase;
    font-family: $font-stack;
  }
  .icon-arrow-right{
    padding-left: 5px;
    color: $red;
  }
  .description {
    font-weight: normal;
    font-size: 18px;
    p {
      font-size: 18px;
      line-height: 24px;
      width: 40%;
      display: block;
      float: none;
      margin: 0 auto;
      margin-top: 1%;
    }
  }

  h2 {
  font-size: 40px;
  font-weight: normal;
  display: block;
  float: none;
  margin: 0 auto;
  margin-top: 5%;
  }
}

/*** SIGN IN/SIGN UP STYLING ***/

.devise_main {
  text-align: center;
}


/******/
.btn-success {
  font-family: $font-stack;
  text-transform: uppercase;
  background-color: $red;
}

.simplebox
{
  outline: none;
  border-radius: 0 !important;
  box-shadow:none !important;
  height: 30px !important;
  font-family: $font-secondary;
}

