#sidebar-wrapper {
  margin-left: -220px;
  left: 220px;
  width: 220px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  padding-left:0px;
  > a > li {
    padding: 15px 0px;
    padding-left: 20px;
    color: grey;

    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    -transition: color .5s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    -transition: background .25s ease-in-out;

    &:hover {
      background: rgba(0,0,0,.9);
      color:#31c0be;
    }
  }
}

#page-dashboard {
  width: 100%;
  padding: 5px 15px;
}

.main-wrapper {
  transition: all 0.4s ease 0s;
}

.main-wrapper-pad {
  padding-left: 220px;
  padding-top: 50px;
}

//TODO: Persistent breadcrumbs

// included for navbar spans to stay in-line

// .nav-span {
//   line-height: 50px;
//   border-left: 1px solid black;
//   padding-left: 15px;
// }
// .nav-badge {
//   line-height: 20px;
//   margin: 12px 5px;
// }
.navbar-brand {
  // margin-left: 0px !important;
  padding:5px 85px;
}

@media (max-width:767px) {

    .main-wrapper{
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    .main-wrapper.active {
      position: relative;
      left: 250px;
    }

    .main-wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}
