
#page-dashboard {
  width: 100%;
  padding: 5px 15px;
}

.main-wrapper-pad {
  padding-top: 50px;
}

//TODO: Persistent breadcrumbs

// included for navbar spans to stay in-line

// .nav-span {
//   line-height: 50px;
//   border-left: 1px solid black;
//   padding-left: 15px;
// }
// .nav-badge {
//   line-height: 20px;
//   margin: 12px 5px;
// }
.navbar-brand {
  // margin-left: 0px !important;
  padding:5px 85px;
}

@media (max-width:910px) and (min-width:768px) {

    .main-wrapper{
      padding-top: 75px;
    }

}
