.pdf-guide {
  img {
    margin: 2em;
    @include img-responsive();
    border-radius: $border-radius-large;
    background-color: #eeeeee;
    padding: 1em;
  }

  #pdf-guide-sidenav {

    &.affix {
      top: 50px;
    }

    .nav a {
      font-size: inherit;
    }

    .nav .sub-nav a {
      font-size: small;
    }

    .nav .sub-nav li {
      padding-left: 10px;
    }

    .nav li.active {
      border-left: solid $brand-primary 2px;
      font-weight: bold;
    }
  }
}
