<%= render 'breadcrumb', object: @residence %>
<%= render 'section_tabs', active_section: :residence_history %>

No residences.

<nav>
  <ul class="pager">
    <li class="previous submit-previous">
      <a href="<%= edit_identity_path(@applicant) %>"><span aria-hidden="true">&larr;</span> Go back</a>
    </li>
    <li class="next submit-next">
      <a href="<%= edit_residences_path(@applicant) %>">Continue <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
