<div class="row">
  <div class="col-md-3">
    <%= f.button("#{submit_action ||= "Update"}", { class:"btn btn-default btn-primary btn-block update-button" }) %>
  </div>

  <div class="col-md-6">
  </div>

  <div class="col-md-3">
    <a href="<%= applicant_path(@current_applicant) %>" class="btn btn-info pull-right">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </a>
  </div>
</div>
