<input type="hidden" name="submitType">

<div class="row">
  <div class="col-md-12">
    <%= f.button("#{submit_action ||= "Save"}", { class:"btn btn-default btn-primary btn-block update-button" }) %>
  </div>
</div>

<nav>
  <ul class="pager">
    <li class="previous">
      <a href="<%= "#" %>"><span aria-hidden="true">&larr;</span> Previous</a>
    </li>
    <li class="next">
      <a href="#">Continue <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
