<input id="submit-direction" name="submit_direction" type="hidden">

<nav>
  <ul class="pager">
    <li class="previous submit-previous">
      <a href="#"><span aria-hidden="true">&larr;</span> Save and go back</a>
    </li>
    <li>
      <%= f.button("Save", { class:"btn btn-primary" }) %>
    </li>
    <li class="next submit-next">
      <a href="#">Save and continue <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
