<ol class="accordion-list-menu">
<% collection.each_with_index do |item, index| %>
  <div class="pull-right completion">
    <span class="badge"><%= item.progress %>%</span>
  </div>
  <li class="accordion-list-item">
      <a href="<%= edit_path(item) %>">
        <%= "#{item}" %>
      </a>
  </li>
<% end %>
</ol>

<div class="accordion-list-new">
  <a href="<%= new_path(collection) %>">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
  </a>
</div>
