<div class="row">
  <div class="col-lg-12">

    <% unless local_assigns[:previous_section].nil? %>
      <a href="#<%= previous_section %>" class="btn btn-default pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span> Previous Section
      </a>
    <% end %>

    <% unless local_assigns[:next_section].nil? %>
      <a href="#<%= next_section %>" class="btn btn-default pull-right">
        Next Section <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    <% end %>

  </div>
</div>
