<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="#">Identity</a></li>
  <li role="presentation"><a href="#">Household Members</a></li>
  <li role="presentation"><a href="#">Residence History</a></li>
  <li role="presentation"><a href="#">Income</a></li>
  <li role="presentation"><a href="#">Employment</a></li>
  <li role="presentation"><a href="#">Criminal History</a></li>
</ul>
