<ul class="nav nav-tabs nav-justified">
  <% [:identity, :household_members, :residence_history, :income, :employment, :criminal_history].each do |section| %>
    <li role="presentation" class="<%= 'active' if section == active_section %>">
      <a href="#"><%= section.to_s.humanize %></a>
    </li>
  <% end %>
</ul>
