<div class="row">
  <div class="col-md-3">
    <%= f.button("Update", { class:"btn btn-default btn-block btn-primary" }) %>
  </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
    <%= link_to 'Delete', f.object, method: :delete, class: "btn btn-danger btn-block", remote: true %>
  </div>
</div>
