<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <%= link_to root_path do %>
        <li>Home</li>
      <% end %>
      <%= link_to root_path do %>
        <li>Clients</li>
      <% end %>
      <%= link_to housing_forms_path do %>
        <li>Locations</li>
      <% end %>
      <%= link_to dictionary_path do %>
        <li>Field Name Guide</li>
      <% end %>
  </ul>
</div>
