<!DOCTYPE html>
<html>
<head>
  <title>DchousingApps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" id="tw-bootstrap-css" href="http://ouzy.co/wp-content/themes/the-bootstrap/css/bootstrap.min.css?ver=2.0.3" type="text/css" media="all">
  <%= csrf_meta_tags %>
</head>

<body>
<div class="fluid-container">
	<div class ="row-fluid">
		<div id="sidebar" class="span2">
				<div class="logo"></div>

				<div class="button-group">
				  <div class="side-button"><a href=""><div class="button-text">Home</div></a></div>
				  <div class="side-button"><a href=""><div class="button-text">Apply</div></a></div>
				  <div class="side-button"><a href=""><div class="button-text">About</div></a></div>
				</div>
			
		</div>

		<div class="span10 main">
			
				
					<%= yield %>
			
			
		</div>
	</div>
</div>
</body>
</html>